<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>

            <ion-title>
              <ion-select value="Vacas" okText="Okay" cancelText="cancelar">
                <ion-select-option value="Becerros">Becerros</ion-select-option>
                <ion-select-option value="Mautes">Mautes</ion-select-option>
                <ion-select-option value="Vacas">Vacas</ion-select-option>
                <ion-select-option value="Toros">Toros</ion-select-option>
              </ion-select> 

            </ion-title>

            
    <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>

         <ion-buttons slot="secondary">
          <ion-button>
           <ion-icon name="notifications"></ion-icon>

             <ion-badge color="danger" slot="end"> 1 </ion-badge>
          </ion-button>
        </ion-buttons>  
    <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="grid"></ion-icon>
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/img/cow.png">
          </ion-avatar>
          <ion-label>
            <h2>Mariposa</h2>
            <h3>002345</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/img/cow.png">
          </ion-avatar>
          <ion-label>
            <h2>Montaña</h2>
            <h3>002379</h3>
           
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/img/cow.png">
          </ion-avatar>
          <ion-label>
            <h2>Primavera</h2>
            <h3>002318</h3>
            
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-badge color="danger" slot="end"> ! </ion-badge>
          <ion-avatar slot="start">
            <img src="/assets/img/cow.png"> 
          </ion-avatar>
          <ion-label>
            <h2>Lupe</h2>
            <h3>002315</h3>
             <ion-text color="danger">
        <p>proxima a parir</p>
      </ion-text>
            
          </ion-label>
        </ion-item>
      <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/img/cow.png">
          </ion-avatar>
          <ion-label>
            <h2>Canela</h2>
            <h3>002374</h3>
           
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/img/cow.png">
          </ion-avatar>
          <ion-label>
            <h2>Navidad</h2>
            <h3>002317</h3>
            
          </ion-label>
        </ion-item>
        
      </ion-list>

    </ion-content>
